html {
  font-family: "Droid Serif", serif;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #fff;
}

.subtitle {
  color: #fff;
}

.wrapper {
  background-color: #70ad55;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[id="tel"],
input[id="address"],
input[id="city"],
select[id="options"],
select[id="prov-options"],
input[id="postal"],
input[type="checkbox"] {
  border-color: #6e8c62;
}

hr {
  border-color: #70ad55;
  margin-left: .5em;
  margin-right: .5em;
}
