html {
  font-family: "Droid Serif", serif;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #fff;
}

.subtitle {
  color: #fff;
}

.wrapper {
  background-color: #70ad55;
}

input[type=text] {
  border: 2px solid #6e8c62;
}
